src/main/config/simpleschema.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://abcdef"
           targetNamespace="http://abcdf"
           elementFormDefault="qualified">
  <xs:element name="Car">
    <xs:complexType>
      <xs:sequence>
	      <xs:element name="Numberplate" type="xs:string"/>
	      <xs:element name="Wheel" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

